@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Righteous&family=Sarala:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    background: linear-gradient(135deg, #020617, #0F172A, #111827);
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-img {
    width: 120px;
    height: 72px;
}

.navbar {
    display: flex;
    gap: 32px;
}

.navbar-itens {
    color: #F8FAFC;
    font-size: 18px;
    font-weight: 500;
    font-family: "Orbitron", sans-serif;
    text-decoration: none;
    transition: 0.5s ease;
}

.navbar-itens:hover {
    transform: scale(1.05);
    color: #60a5fa;
}

.button-header {
    background-color: #6366F1;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #CBD5E1;
    transition: 0.5s ease;
}


.button-header:hover {
    color: #6366F1;
    background-color: #0F172A;
    transform: scale(1.05);
}

main {
    margin-bottom: 48px;
    border-top: 0.4px solid #94A3B8;

}

.principal-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 80px 10%;
}

.section-title {
    font-family: "Orbitron", sans-serif;
    font-weight: 700;
    font-size: 55px;
    color: #F8FAFC;
}

.section-subtitle {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #fff2e7;
}

.main-img {
    height: 380px;
    width: 100%;
    filter:
        drop-shadow(0 0 20px rgba(96, 165, 250, 0.5));

    animation: float 4s ease-in-out infinite;
}

@keyframes float {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }

}

.section-button {
    background-color: #6366F1;
    width: 250px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #CBD5E1;
    transition: 0.3s ease;

}


.section-button:hover {
    color: #6366F1;
    background-color: #0F172A;
    transform: scale(1.05);
    box-shadow: 0 0 20px #60a5fa;
}

.second-section {
    padding: 80px 10%;
    border-top: 0.4px solid #94A3B8;
}

.second-section h2 {
    text-align: center;
    margin-bottom: 50px;
    color: #CBD5E1;
    font-family: "Orbitron", sans-serif;
    font-size: 35px;
}

.second-section h2::after {
    content: " ";
    display: block;
    width: 120px;
    height: 3px;
    margin: 15px auto;
    background: #60a5fa;
    border-radius: 999px;
    box-shadow: 0 0 10px #60a5fa;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background: #111827;
    padding: 30px;
    border-radius: 16px;
    transition: 0.3s;
    color: #fff2e7;
    font-family: "Orbitron", sans-serif;

    width: 300px;
    height: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}


.card:hover {
    box-shadow: 0 0 20px #60a5fa;
}

.card h3 {
    margin-bottom: 20px;
    font-size: 24px;

}

.card-icon {
    width: 60px;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    font-family: "Orbitron", sans-serif;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 2.5rem;
    color: #60a5fa;
}

.stat p {
    color: #d1d5db;
}


footer {
    border-top: 0.4px solid #94A3B8;
    padding: 60px 10%;
    text-align: center;

}

.footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    height: 200px;
}

footer p {
    color: #CBD5E1;
    margin-top: 10px;
    font-size: 18px;
}


.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 30px 0;
    color: #9ca3af;
    font-family: "Poppins", sans-serif;
}

.footer-links a {
    text-decoration: none;
    color: #F8FAFC;
    transition: 0.5s ease;
    font-family: "Orbitron", sans-serif;
}

.footer-links a:hover {
    color: #60a5fa;
    transform: scale(1.05);
}


footer span {
    color: #6b7280;
    font-size: 16px;
}